{% extends 'base.html.twig' %}

{% block body %}

    <a href="/">
    <div class="close">
    <i class="title bi bi-x"></i>
    </div>
    </a>

<div class="text-center box">
    <h1>Přístup zamítnut</h1>
    <p>Nemáš dostatečná práva</p>
</div>    
{% endblock %}