{% extends "base.html.twig" %}
{% block body %}

<main>

{% block container %}
<div class="container new-record">

    <a href="/">
    <div class="close">
    <i class="title bi bi-x"></i>
    </div>
    </a>

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-5 fw-light fs-3">Upravit záznam</h3>
                    {{ form(form) }}
                </div>  
            </div>
        </div>
    </div>
  
</div>

{% endblock %}

</main>

{% endblock %}